MercPlusClient/MercPlusClient/Service References/ManageHSUDDataServiceReference/ManageHSUDDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManageHSUDDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61236/ManageHSUDDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61236/ManageHSUDDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61236/ManageHSUDDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ManageHSUDDataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManageHSUDDataService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IManageHSUDDataService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IManageHSUDDataService_HSUDDataSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:HSUDDataSearch" />
  </wsdl:message>
  <wsdl:message name="IManageHSUDDataService_HSUDDataSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:HSUDDataSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IManageHSUDDataService_GetEstLifeCycle_ApprovalCanceledData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstLifeCycle_ApprovalCanceledData" />
  </wsdl:message>
  <wsdl:message name="IManageHSUDDataService_GetEstLifeCycle_ApprovalCanceledData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstLifeCycle_ApprovalCanceledDataResponse" />
  </wsdl:message>
  <wsdl:message name="IManageHSUDDataService_GetEstLifeCycleAnalysisData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstLifeCycleAnalysisData" />
  </wsdl:message>
  <wsdl:message name="IManageHSUDDataService_GetEstLifeCycleAnalysisData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstLifeCycleAnalysisDataResponse" />
  </wsdl:message>
  <wsdl:message name="IManageHSUDDataService_GetEstLineItemAnalysisData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstLineItemAnalysisData" />
  </wsdl:message>
  <wsdl:message name="IManageHSUDDataService_GetEstLineItemAnalysisData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstLineItemAnalysisDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IManageHSUDDataService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageHSUDDataService/GetData" message="tns:IManageHSUDDataService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageHSUDDataService/GetDataResponse" message="tns:IManageHSUDDataService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HSUDDataSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageHSUDDataService/HSUDDataSearch" message="tns:IManageHSUDDataService_HSUDDataSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageHSUDDataService/HSUDDataSearchResponse" message="tns:IManageHSUDDataService_HSUDDataSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstLifeCycle_ApprovalCanceledData">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageHSUDDataService/GetEstLifeCycle_ApprovalCanceledData" message="tns:IManageHSUDDataService_GetEstLifeCycle_ApprovalCanceledData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageHSUDDataService/GetEstLifeCycle_ApprovalCanceledDataResponse" message="tns:IManageHSUDDataService_GetEstLifeCycle_ApprovalCanceledData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstLifeCycleAnalysisData">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageHSUDDataService/GetEstLifeCycleAnalysisData" message="tns:IManageHSUDDataService_GetEstLifeCycleAnalysisData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageHSUDDataService/GetEstLifeCycleAnalysisDataResponse" message="tns:IManageHSUDDataService_GetEstLifeCycleAnalysisData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstLineItemAnalysisData">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageHSUDDataService/GetEstLineItemAnalysisData" message="tns:IManageHSUDDataService_GetEstLineItemAnalysisData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageHSUDDataService/GetEstLineItemAnalysisDataResponse" message="tns:IManageHSUDDataService_GetEstLineItemAnalysisData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManageHSUDDataService" type="tns:IManageHSUDDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IManageHSUDDataService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HSUDDataSearch">
      <soap:operation soapAction="http://tempuri.org/IManageHSUDDataService/HSUDDataSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstLifeCycle_ApprovalCanceledData">
      <soap:operation soapAction="http://tempuri.org/IManageHSUDDataService/GetEstLifeCycle_ApprovalCanceledData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstLifeCycleAnalysisData">
      <soap:operation soapAction="http://tempuri.org/IManageHSUDDataService/GetEstLifeCycleAnalysisData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstLineItemAnalysisData">
      <soap:operation soapAction="http://tempuri.org/IManageHSUDDataService/GetEstLineItemAnalysisData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageHSUDDataService">
    <wsdl:port name="BasicHttpBinding_IManageHSUDDataService" binding="tns:BasicHttpBinding_IManageHSUDDataService">
      <soap:address location="http://localhost:61236/ManageHSUDDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>