MercPlusClient/MercPlusClient/Service References/ManageHSUDDataServiceReference/ManageHSUDDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61236/ManageHSUDDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ManageHSUDDataService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HSUDDataSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EquipmentNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HSUDDataSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ManageHSUDDataService" minOccurs="0" name="HSUDDataSearchResult" nillable="true" type="q1:ArrayOfEstLifeCycle_ApprovalCanceled" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstLifeCycle_ApprovalCanceledData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EquipmentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EstimateNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstLifeCycle_ApprovalCanceledDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ManageHSUDDataService" minOccurs="0" name="GetEstLifeCycle_ApprovalCanceledDataResult" nillable="true" type="q2:ArrayOfEstLifeCycle_ApprovalCanceled" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstLifeCycleAnalysisData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EquipmentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EstimateNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstLifeCycleAnalysisDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ManageHSUDDataService" minOccurs="0" name="GetEstLifeCycleAnalysisDataResult" nillable="true" type="q3:ArrayOfEstLifeCycleAnalysi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstLineItemAnalysisData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EquipmentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EstimateNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstLineItemAnalysisDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ManageHSUDDataService" minOccurs="0" name="GetEstLineItemAnalysisDataResult" nillable="true" type="q4:ArrayOfEstLineItemAnalysi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>